<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
                         arguments="-Dserver.port=%HTTP_PLATFORM_PORT%  
			-Dspring.datasource.url=jdbc:sqlserver://bh900.database.windows.net;databaseName=familyportal
			-Dspring.datasource.username=cs
			-Dspring.datasource.password=I am here to share something in 2021.
			-Dspring.jpa.hibernate.ddl-auto=update
			-Dspring.thymeleaf.prefix=classpath:/templates/
			-Dspring.jpa.show-sql=true
			-Dspring.datasource.driver-class-name=
			-Dspring.datasource.driverClassName=com.microsoft.sqlserver.jdbc.SQLServerDriver
			-Dspring.jpa.hibernate.dialect=org.hibernate.dialect.SQLServer2012Dialect
			-Dspring.jpa.properties.hibernate.dialect=org.hibernate.dialect.SQLServer2012Dialect
			-Dspring.servlet.multipart.max-file-size=10MB
			-Dspring.servlet.multipart.max-request-size=10MB
 			-jar &quot;%HOME%\site\wwwroot\familyportal-1.1.2.jar&quot;">
        </httpPlatform>
    </system.webServer>
</configuration>